.PerContainer {
  width: 100vw;
  height: 45vh;
  background-color: #FBF0D4;
  margin-top: 1vh;
  background-image: url("./persona.png");
  background-repeat: no-repeat;
  background-size: 65vw;
  background-position: -5vw 0vw;
  position: relative;
  overflow: hidden;
}

.inputPersonmain {
  width: 14vw;
  height: 9vh;
  border-radius: 100%;
  background-color: #E8E8E8;
  position: absolute;
  bottom: 3%;
  right: 4vw;
  background-image: url(Group.png);
  background-repeat: no-repeat;
  background-size: 93%;
  background-position: 50% center;
  cursor: pointer;
}

.chatWrapper {
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 6vh; /* 약간 위로 올림 */
  height: 100%; /* 높이 증가 */
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.message {
  max-width: 80%; /* 최대 너비 증가 */
  margin-bottom: 15px; /* 간격 증가 */
  padding: 17px 25px; /* 패딩 증가 */
  border-radius: 50px;
  font-size: 3vw; /* 폰트 크기 증가 */
  word-wrap: break-word;
  line-height: 1; /* 줄 간격 추가 */
}

.user {
  align-self: flex-end;
  background-color: #FFD700;
}

.ai {
  align-self: flex-start;
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
}