.mkinputbox{
    border-radius: 20vw;
    position: fixed; 
    bottom: 10%; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 50vw;
    height: 8vh;
    background-color: #6285E1;
    z-index: 1000; 
    
}
.mktext{
    color:white;
    font-weight: 600;
    font-size: 4vw;
    margin-left: 28%;
    margin-top: 7%;
}
@media (min-width: 721px) {

    .mkinputbox{
        width: 30vw;
        height: 12vh;

    }
}
.mktext{
    font-size: 3.5vw;
    margin-left: 20%;
    margin-top: 3%;
}